@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-cen: 72rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 88rem;
  --breakpoint-3xl: 120rem;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-250%);
  }
}
.animate-marquee {
  animation: marquee 20s linear infinite;
}
